.checklist-item {
    font-size: 0.9em;
    font-weight: bold;
    color: #282828;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    border: none;
}
ion-list {
    ion-item-content {
        border: none;
    }
    ion-checkbox {
        border-bottom: none;
    }
    ion-checkbox .item-inner {
        border-bottom: none;
    }
}
ion-checkbox .checklist-item {
    border: none;
}
